*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    height: 100vh;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/hero_1.jpg.webp) ;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    height: 100px;
    width: auto;
    display: flex;
}
.center{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.right{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.left{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left h1{
    color: white;

}
ul {
    display: flex;
}
ul li{
    list-style: none;
    padding: 10px;
}
ul li a{
    color: rgb(216, 212, 212);
    text-decoration: none;
    font-size: 14px;
}
ul li a:hover{
    color: white;
}
.right span {
    color: white;
    font-size: 13px;
}
.right i{
    border: none;
    padding: 8px 12px;
    color: white;
    background-color: rgb(145, 142, 139);
    border-radius: 100%;
}
.right i:hover{
    border: 1px solid white;
    transition: 1s;
    background-color: transparent;
    color: white;
}
.right .menu-icon{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    display: none;
}
.main-center{
    height: 500px;
    width: 500px;
    float: right;
}
.main-center h1{
    margin-top: 130px;
    color: white;
    font-size: 45px;
}
.main-center p{
    color: rgb(202, 195, 195);
    text-align: justify;
    font-size: 13px;
    padding: 30px 0px;
    margin-right: 50px;

}
.main-center .btn{
height: 42px;
margin-top: 15px;
width: 135px;
background-color:#037ef3;
border: none;
color: white;
font-size: 13px;
border-radius: 5px;
}
.main-center button{
    height: 42px;
    margin-top: 15px;
    width: 135px;
 border: none;
background-color: transparent;
border: 1px solid white;
color: white;
border-radius: 5px;
font-size: 13px;
    }
.main-center button:hover{
    background-color: white;
    color: black;
    transition: 0.4s;



}
/* Page Number 2 */



.section-2{
    height: 80vh;
    width: auto;
    background-color: red;
    display: flex;
}
.section-2 .section-left{
    height: 100%;
    width: 40%;
    text-align: center;
    background-color: rgb(37, 29, 29);
}
.section-2 .section-right{
    height: 100%;
    width: 60%;
    background-color: rgb(37, 29, 29);
}
.section-left h1{
    color: white;
    font-size: 38px;
    padding-top: 100px;
}
.section-left p{
    color: rgb(153, 145, 145);
    text-align: justify;
    font-size: 13px;
    padding: 0px 70px;
    padding-top: 20px;
}
.section-left button{
    height: 35px;
    width: 120px;
    float: left;
    background-color:#037ef3;
    border: none;
    border-radius: 5px;
    margin:30px 70px;
    color: white;


}
.section-right .piccc{
    height: 250px;
    width: 100% ;
    margin-top: 300px;
    position: relative;
    background-color: rgb(0, 0, 0);
}

.section-right img{
    height: 450px;
    width: 450px;
    z-index: 1;
    bottom: 40px;
    right: 100px;
    position: absolute;
}
.section-3{
    min-height: 70vh;
    width: auto;
   
    background-color: rgb(31, 32, 32);
}
.section-3 .about-text{
    height: 100px;
    width: auto;
    background-color: rgb(31, 32, 32);
}
.about-text h1{
    color: white;
    padding-left: 70px;
    padding-top: 20px;
    font-size: 40px;
}
.section-3 .cards{
    height: 300px;
    width: 300px;


}
.text-flex{
    min-height : 570px ;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    background-color: rgb(31, 32, 32);
}
.cards i{
    color: rgb(118, 87, 201);
    font-size: 40px;
    margin: 30px 30px;
}
.cards h1{
    color: white;
    margin-left: 20px;
}
.cards p{
    color: white;
    margin-left: 20px;
    font-size: 12px;
    text-overflow: hidden;
    padding:  10px 0px;

}
.section-4{
    height: 90vh;
    width: auto;
    background-color: #1b1c1e;
    display: flex;
}
.hamm{
    height: 90vh;
    width: 60%;
}
.hamm h1{
    color: white;
    font-size: 43px;
    margin-top: 70px;
    margin-left: 70px;
}
.hamm img{
    height: 300px;
    margin-top: 50px;
    width: auto;
    margin-left: 70px;
}
.hamm-right{
    height: 90vh;
    width: 40%
    ;
   
}
.hamm-right h1{
    color: white;
    font-size: 40px;
    margin-top: 200px;
}
.hamm-right p{
    color: white;
font-size: 13px;
padding-top: 10px;
}
.hamm-right button{
    height: 40px;
    background-color:#037ef3;
    width: 130px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
}
.section-5{
    height: 70vh;
    width: auto;
     background-color: #202327;
}
.section-5 h1{
    color: white;
    font-size: 43px;
    padding-left: 100px;
    padding-top: 50px;
}
.section-5 form{
    height: 50vh;
    width: 900px;
    margin-top: 10px;
    margin-left: 100px;
}

.section-5 .name{
    height: 54px;
    background-color: rgba(255, 255, 255, 0.02);
    border-color: rgba(255, 255, 255, 0.02);
    color: #fff;
    width: 400px;
    outline: none;
   
}
.section-5 .name1{
    height: 54px;
    background-color: rgba(255, 255, 255, 0.02);
    border-color: rgba(255, 255, 255, 0.02);
    color: #fff;
    width: 400px;
    margin-top: 10px;
    outline: none;

}
.section-5 textarea{
    
    background-color: rgba(255, 255, 255, 0.02);
    border-color: rgba(255, 255, 255, 0.02);
    color: #fff;
    width: 810px;
    outline: none;

    margin-top: 10px;
}
.section-5 form button{
    height: 40px;
    width: 150px;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
      background-color:#037ef3;
}
.section-6{
    height: 40vh;
    width: auto;
    display: flex;
    background-color: #202327;
}
.line-1{
    height: 40vh;
    width: 30%;
}
.line-1 h2{
color: white;
font-size: 20px;
padding-left: 50px;
padding-top: 30px;
}
.line-1 ul{
    display: flex;
    flex-direction: column;
}
.line-1 li{
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 13px;
    padding-left: 50px;
}
.line-2{
    height: 40vh;
    width: 20%;
}
.line-2 h2{
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 30px;
}
.line-1 ul{
    display: flex;
    flex-direction: column;
}
.line-2 ul{
    display: flex;
    flex-direction: column;
}
.line-2 li{
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 13px;
    padding-left: 50px;
}
.line-3{
    height: 40vh;
    width: 20%;
}

.line-3 ul{
    display: flex;
    flex-direction: column;
}
.line-3 li{
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 13px;
    padding-left: 50px;
}
.line-4{
    height: 40vh;
    width: 30%;
 
}
.line-4 h2{
    color: white;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 30px;
}
.line-4 ul{
    display: flex;
    flex-direction: column;
}
.line-4 li{
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 13px;
    padding-left: 50px;
}
.line-4 i{
    color: white;
    padding-left: 10px;
}


























































@media only screen and (max-width:730px) {
    main{
        background-color: rebeccapurple;
    }
    
    
    .right .menu-icon{
        display: block;
    }
    .right span ,i{
        display: none;
    }
    .center ul li a{
        display: none;
        

        }
        .left{
            justify-content: right;
            width: 30%;
        }
    
}